* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: darkgrey;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
}

.circulodeprueba {
  background-color: blueviolet;
  color: cyan;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.bodycontainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.containertext {
  width: 600px;
  height: 500px;
  border: #777 solid 2px;
  background-color: rgba(151, 65, 39, 0.5);
}

.title {
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 100, 0, 0.671);
}

.title img{
  width: 20px;
  padding-right: 15px;
}

.contenido {
  font-family: serif;
  font-size: 20px;
  text-align: justify;
  padding: 25px;
}

.footer{
  font-family: serif;
  font-size: 29px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  padding-bottom: 10px;
  padding-top: 2px;
}
